/*   color-green   */
.text-green-100 {
	color: hsl(var(--clr-green-100));
}
.text-green-200 {
	color: hsl(var(--clr-green-200));
}
.text-green-300 {
	color: hsl(var(--clr-green-300));
}
.text-green-400 {
	color: hsl(var(--clr-green-400));
}
.text-green-500 {
	color: hsl(var(--clr-green-500));
}

/* background-color-green   */
.bg-green-100 {
	background-color: hsl(var(--clr-green-100));
}
.bg-green-200 {
	background-color: hsl(var(--clr-green-200));
}
.bg-green-300 {
	background-color: hsl(var(--clr-green-300));
}
.bg-green-400 {
	background-color: hsl(var(--clr-green-400));
}
.bg-green-500 {
	background-color: hsl(var(--clr-green-500));
}

/*   color-gray   */
.text-gray-100 {
	color: hsl(var(--clr-gray-100));
}
.text-gray-200 {
	color: hsl(var(--clr-gray-200));
}
.text-gray-300 {
	color: hsl(var(--clr-gray-300));
}
.text-gray-400 {
	color: hsl(var(--clr-gray-400));
}
.text-gray-500 {
	color: hsl(var(--clr-gray-500));
}
.text-gray-600 {
	color: hsl(var(--clr-gray-600));
}
.text-gray-700 {
	color: hsl(var(--clr-gray-700));
}
.text-gray-800 {
	color: hsl(var(--clr-gray-800));
}

/* background-color-gray   */
.bg-gray-100 {
	background-color: hsl(var(--clr-gray-100));
}
.bg-gray-200 {
	background-color: hsl(var(--clr-gray-200));
}
.bg-gray-300 {
	background-color: hsl(var(--clr-gray-300));
}
.bg-gray-400 {
	background-color: hsl(var(--clr-gray-400));
}
.bg-gray-500 {
	background-color: hsl(var(--clr-gray-500));
}
.bg-gray-600 {
	background-color: hsl(var(--clr-gray-600));
}
.bg-gray-700 {
	background-color: hsl(var(--clr-gray-700));
}
.bg-gray-800 {
	background-color: hsl(var(--clr-gray-800));
}

/*   color-white   */
.text-white {
	color: hsl(var(--clr-white));
}
.text-white-100 {
	color: hsl(var(--clr-white-100));
}

/* background-color-white   */
.bg-white {
	background-color: hsl(var(--clr-white));
}
.bg-white-100 {
	background-color: hsl(var(--clr-white-100));
}

/* color red */
.text-red-100 {
	color: hsl(var(--clr-red-100));
}
.text-red-200 {
	color: hsl(var(--clr-red-200));
}
.text-red-300 {
	color: hsl(var(--clr-red-300));
}
.text-red-400 {
	color: hsl(var(--clr-red-400));
}
.text-red-500 {
	color: hsl(var(--clr-red-500));
}

/* background-color-red   */
.bg-red-100 {
	background-color: hsl(var(--clr-red-100));
}
.bg-red-200 {
	background-color: hsl(var(--clr-red-200));
}
.bg-red-300 {
	background-color: hsl(var(--clr-red-300));
}
.bg-red-400 {
	background-color: hsl(var(--clr-red-400));
}
.bg-red-500 {
	background-color: hsl(var(--clr-red-500));
}

/*   fill-green   */
.fill-green-100 {
	fill: hsl(var(--clr-green-100));
}
.fill-green-200 {
	fill: hsl(var(--clr-green-200));
}
.fill-green-300 {
	fill: hsl(var(--clr-green-300));
}
.fill-green-400 {
	fill: hsl(var(--clr-green-400));
}
.fill-green-500 {
	fill: hsl(var(--clr-green-500));
}

/*   fill-red   */
.fill-red-100 {
	fill: hsl(var(--clr-red-100));
}
.fill-red-200 {
	fill: hsl(var(--clr-red-200));
}
.fill-red-300 {
	fill: hsl(var(--clr-red-300));
}
.fill-red-400 {
	fill: hsl(var(--clr-red-400));
}
.fill-red-500 {
	fill: hsl(var(--clr-red-500));
}

/*   fill-gray   */
.fill-gray-100 {
	fill: hsl(var(--clr-gray-100));
}
.fill-gray-200 {
	fill: hsl(var(--clr-gray-200));
}
.fill-gray-300 {
	fill: hsl(var(--clr-gray-300));
}
.fill-gray-400 {
	fill: hsl(var(--clr-gray-400));
}
.fill-gray-500 {
	fill: hsl(var(--clr-gray-500));
}
.fill-gray-600 {
	fill: hsl(var(--clr-gray-600));
}
.fill-gray-700 {
	fill: hsl(var(--clr-gray-700));
}
.fill-gray-800 {
	fill: hsl(var(--clr-gray-800));
}

/* fill white */
.fill-white {
	fill: hsl(var(--clr-white));
}
.fill-white-100 {
	fill: hsl(var(--clr-white-100));
}

/* stroke-white */

.stroke-white {
	stroke: hsl(var(--clr-white));
}
.stroke-white-100 {
	stroke: hsl(var(--clr-white-100));
}

/*   stroke-green   */
.stroke-green-100 {
	stroke: hsl(var(--clr-green-100));
}
.stroke-green-200 {
	stroke: hsl(var(--clr-green-200));
}
.stroke-green-300 {
	stroke: hsl(var(--clr-green-300));
}
.stroke-green-400 {
	stroke: hsl(var(--clr-green-400));
}
.stroke-green-500 {
	stroke: hsl(var(--clr-green-500));
}

/*   stroke-red   */
.stroke-red-100 {
	stroke: hsl(var(--clr-red-100));
}
.stroke-red-200 {
	stroke: hsl(var(--clr-red-200));
}
.stroke-red-300 {
	stroke: hsl(var(--clr-red-300));
}
.stroke-red-400 {
	stroke: hsl(var(--clr-red-400));
}
.stroke-red-500 {
	stroke: hsl(var(--clr-red-500));
}

/*   stroke-gray   */
.stroke-gray-100 {
	stroke: hsl(var(--clr-gray-100));
}
.stroke-gray-200 {
	stroke: hsl(var(--clr-gray-200));
}
.stroke-gray-300 {
	stroke: hsl(var(--clr-gray-300));
}
.stroke-gray-400 {
	stroke: hsl(var(--clr-gray-400));
}
.stroke-gray-500 {
	stroke: hsl(var(--clr-gray-500));
}
.stroke-gray-600 {
	stroke: hsl(var(--clr-gray-600));
}
.stroke-gray-700 {
	stroke: hsl(var(--clr-gray-700));
}
.stroke-gray-800 {
	stroke: hsl(var(--clr-gray-800));
}
